.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card.cyan.lighten-5 {
  margin-top: 0;
}

#new-issue .input-field {
  display: inline;
}
#new-issue .input-field :focus {
  color: black !important;
}
.toast {
  min-width: 400px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.title-container-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 80%;
}

.title-container i {
  margin-right: 1rem;
}

.title-container p {
  font-size: 1.2rem !important;
}

.title-container-right {
  display: flex;
  align-items: center;
}

.popover.popover--active .popover__content {
  background-color: #000000d7;
  min-width: 25em;
}

.popover.popover--top .popover__content {
  bottom: -10rem !important;
  left: 20% !important;
}

#comments .card-panel {
  padding: 1rem;
  margin: 0;
  font-size: 14px;
}
#comments h4 {
  font-size: 20px;
  font-weight: bold;
}
#comments p {
  margin-bottom: 0;
}

.pagination {
  margin-bottom: 3rem;
}
.pagination li.active {
  background-color: #006064;
}

#icon_prefix {
  color: white !important;
}

.input-field {
  display: flex;
  align-items: center;
  width: 28rem;
}
.input-field.btn {
  background-color: white;
}

.flow-text {
  font-size: 1rem;
}

.collapsible {
  margin: 1.6rem 0 1rem 0;
  box-shadow: none;
}

.collapsible-header-left {
  display: flex;
}

.collapsible-header {
  justify-content: space-between;
}

.card .card-content .card-title {
  display: flex;
  margin-bottom: 0;
}

.search-btn {
  background-color: white;
  color: #006064;
}
